doctype html
html
	head
		meta(charset='utf-8')
		meta(name='og:title', content=config.radio.title)
		meta(name='og:image', content=config.general.baseurl+'img/icons/parasprite-radio.png')
		meta(name='og:url', content=config.general.baseurl)
		meta(name='og:description', content='Tune in to '+config.radio.title+'!')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='mobile-web-app-capable', content='yes')

		title #{config.radio.title}

		//- link(rel='stylesheet' type='text/css', href='//releases.flowplayer.org/6.0.1/skin/minimalist.css')
		link(rel='stylesheet', type='text/css', href='/build/style/main.css')

		//- flowplayer depends on jQuery 1.7.2+
		//-script(src='//code.jquery.com/jquery-1.10.2.min.js')
		//- flowplayer javascript component
		//-script(src="//releases.flowplayer.org/6.0.1/flowplayer.min.js")
		//-script(src='//content.jwplatform.com/libraries/GZyKIYr6.js')
		//-script(src='https://bitmovin-a.akamaihd.net/bitdash/latest/bitdash.min.js')
		//-script(src='/socket.io/socket.io.js')

	body#body

		#top
			.container
				a(href='')
					img#logo(src='/img/icons/parasprite-radio-logo-hex-256.png', alt='Logo', title=config.radio.title)
				.left
					h1
						a(href='/') #{config.radio.title}
					//-#subtitle by
						= ' '
						a(href='https://twitter.com/daniel_hede', target='_blank') djazz

				#player
					.leftside
						a#coverlink(href='/api/now/art/original', target='_blank')
							img#cover(src='/api/now/art/tiny', alt='Cover art')

					.mid
						#nowplayingwrap
							#nowtitle
							#nowartist

						#visualizer

					.rightside
						button#playstopbtn(data-hash='autoplay') Play

						#popout
							a#popuplink(href='/popout', target='_blank')
								img(src='/img/icons/popout.svg', alt='Popout')
						#volume
							#volbutton
							#voloverlay
								label Volume
								input#radioVolume(type='range', min=0, max=1, step=0.01, value=0.8)
								label Stream format
								select#streamSelect
									option(value='', selected) Automatic detection
									option(value='radio_hls') HLS Adaptive AAC
									if config.icecast.mounts.includes('radio_mobile')
										option(value='radio_mobile') LQ HE-AAC 64k
									if config.icecast.mounts.includes('radio_mobile_vorbis')
										option(value='radio_mobile_vorbis') LQ OGG Vorbis
									if config.icecast.mounts.includes('radio_opus')
										option(value='radio_opus') HQ OGG Opus
									if config.icecast.mounts.includes('radio')
										option(value='radio') HQ MP3 320k
									if config.icecast.mounts.includes('radio_flac')
										option(value='radio_flac') Lossless FLAC
									if config.icecast.mounts.includes('gnr')
										option(value='gnr') Galaxy News Radio
								a#streamLink(href='javascript:', target='_blank')
									img(src='/img/icons/popout.svg', alt='Stream')
						.legend
							span#listenercount &nbsp;
							img.listenersicon(src='/img/icons/listeners.png', alt='listeners')


		#navigation.container

			nav#mainmenu
				a#menuHistory.current(data-page='pageHistory') Music
				//- a#menuPlaylist(data-page='pagePlaylist') Playlist
				a#menuLivestream(data-page='pageLivestream', data-hash='livestream') Livestream
				a#menuChat(data-page='chatPage', data-hash='chat') Chat
				a#menuAbout(data-page='pageShows', data-hash='shows') Shows
				a#menuSchedule(data-page='pageSchedule', data-hash='schedule') Schedule
				a#menuAbout(data-page='pageAbout', data-hash='about') About
				a#menuMap(data-page='pageMap', data-hash='map') Map

				div(class='right')
					a#menuAccount(data-page='pageAccount', data-hash='account') Account
					a#menuLogin(data-page='pageLogin') Login
					a#menuLogout(href='/logout') Logout
					a#menuAdmin(href='/admin/') Admin
		.clearing


		#content
			.container
				#pageHistory
					#musicbox
						#bigbackground(style='background-image: url("/api/now/art/original")')

						#bigplayertop
							#bigplayertitle
							#bigplayerartist

						#bigplayer
							.helper
								a(href='/api/now/art/original', target='_blank')
									#bigcover
								#bigplayerinfo
									#bigplayerprogressbar
										div
									#bigplayerformat
									#bigplayertime
									#bigplayerduration
									#bigplayeralbum
								#bigplayercomment



						#playhistory


				//- TODO: Remove inline CSS
				#pagePlaylist.page-wrapper(style='display: none;')
					div
						strong
							span The radio has
							span#playlistcount ?
							span  tracks (
							span#playhistoryhours ?
							span  hours of music)
					table#playlisttable.trackstable
						tbody#playlist

				#pageSchedule(style='display: none;')
					iframe#scheduleiframe
					.page-wrapper
						a#schedulelink(href='javascript:', target='_blank') Open schedule in new tab
						=' - '
						a(target='_blank', href='http://www.google.com/calendar/render?cid=' + encodeURIComponent('https://calendar.google.com/calendar/ical/' + encodeURIComponent(config.google.calendarId) + '/public/basic.ics')) Subscribe

				#pageLivestream(style='display: none;')
					#liveplayer
						#livevideoplayer
						#viewercount
						#streamoffline
							span Livestream is offline
					.page-wrapper
						a(target='_blank', href='/livestream.html') Open in new tab
						=' - '
						a(href=config.livestream.url_rtmp.replace('$name', config.livestream.name)) RTMP stream url
						=' - '
						a(href='/streams/livestream.m3u8') HLS stream url

				#pageShows.page-wrapper(style='display: none')

				#pageAbout.page-wrapper(style='display: none')
					#aboutradio
						div
							| I started working on Parasprite Radio in 2013 as an
							=' '
							a(href='https://github.com/daniel-j/parasprite-radio', target='_blank') open source
							=' '
							| project where I could try out new web technology and create a complete application, all while learning along the way. Since it was launched in May 2014, it has been running almost 24/7.
						p
							| Parasprite Radio is powered by
							=' '
							a(target='_blank', href='http://liquidsoap.fm/') Liquidsoap
							=' '
							| (an audio stream source generator) and the web server is written in
							=' '
							a(target='_blank', href='http://nodejs.org') Node.JS
							| . It uses HTTP Live Streaming and
							=' '
							a(target='_blank', href='http://icecast.org/') Icecast
							=' '
							| for broadcasting (use the sound menu to switch between streams).
							=' '
							a(target='_blank', href='http://mithril.js.org/') Mithril
							=' '
							| components and regular JavaScript for the front-end, and
							=' '
							a(target='_blank', href='http://stylus-lang.com/') Stylus
							=' '
							| for the stylesheets.
							=' '
							a(target='_blank', href='http://gulpjs.com/') Gulp
							=' '
							| and
							=' '
							a(target='_blank', href='https://webpack.js.org/') Webpack
							=' '
							| are used as the build system.
						p
							| The radio also connects to
							=' '
							a(target='_blank', href='http://www.last.fm/user/'+config.lastfm.username) Last.fm
							=', '
							a(target='_blank', href='http://tun.in/sffEA') TuneIn
							=' and '
							a(target='_blank', href='http://ponyvillelive.com/') Ponyville Live
							| . Last.fm keeps track of all the music played on the radio, TuneIn have a nice app for listening to broadcasts, and PVL is a network of radio stations and podcasts.
						p
							| Why "Parasprite" Radio? The name comes from the creature in the show My Little Pony called a
							=' '
							a(href='http://mlp.wikia.com/wiki/Parasprites', target='_blank') Parasprite
							=' '
							| - which is a portmanteau of the words 'parasite' and 'sprite'. In one of the episodes, parasprites invade town in a great swarm and the only way the heroes manage to get rid of them was with
							=' '
							a(href='https://www.youtube.com/watch?v=nVt7ERxkG6k', target='_blank') music
							| . Much like the parasprites, I also happen to enjoy listening to music.
						p Parasprite Radio is dedicated to high quality music from across the MLP fandom. You can suggest and request music in the chatroom. Enjoy!
						div
							em - djazz -
					#aboutlogo
						img(src='/img/icons/parasprite-radio-logo-small.png', title='Parasprite Radio logo')

					#badges
						br
						//- a(target='_blank', href='http://ponyvillelive.com/')
							img(src='/img/badges/ponyvillelive.png', alt='Ponyville Live!')
						//- a(target='_blank', href='http://www.bronydom.net/')
							img(src='/img/badges/bronydom.png', alt='Bronydom Network')
						//- a(target='_blank', href='http://cloudsdaleradio.com/')
							img(src='/img/badges/cloudsdale-radio.jpg', alt='Cloudsdale Radio')

						a(target='_blank', href='http://nodejs.org')
							img(src='/img/badges/nodejs.png', alt='Node.js')
						a(target='_blank', href='http://liquidsoap.fm/')
							img(src='/img/badges/liquidsoap.png', alt='Liquidsoap')
						a(target='_blank', href='http://icecast.org/')
							img(src='/img/badges/icecast.png', alt='Icecast')

						a(target='_blank', href='http://canternet.org')
							img(src='/img/badges/canternet.png', alt='Canternet IRC network')
						a(target='_blank', href='https://www.raspberrypi.org/')
							img(src='/img/badges/raspberry-pi.png', alt='Raspberry Pi')

					.textcenter
						//- a(target='_blank', href='http://www.last.fm/user/djazzradio/library/recent') new music
						a(target='_blank', href=config.general.baseurl+'stream') Direct stream url
						=' - '
						a(target='_blank', href='img/parasprite-radio-badge.png') Radio badge


				#pageMap(style='display: none')
					#googlemap

				#pageLogin.page-wrapper(style='display: none;')
					.textcenter
						br
						br
						a.button(href="/auth/poniverse") Login with Poniverse
						=' '
						a.button(href="/auth/twitter") Login with Twitter
						=' '
						a.button(href="/auth/trotland") Login with Trotland
						br
						br
				#pageAccount.page-wrapper(style='display: none;')
					strong Account
					br

					form#editAccountForm
						label(for='inputAccountUsername') Username:
						input#inputAccountUsername(type='text', autocomplete='off')
						br
						label(for='inputAccountDisplayName') Display name:
						input#inputAccountDisplayName(type='text', autocomplete='off')
						br
						label(for='inputAccountEmail') Email:
						input#inputAccountEmail(type='email', name='email')
						br
						label(for='inputAccountAvatarUrl') Avatar URL
						input#inputAccountAvatarUrl(type='url', autocomplete='off')
						br
						img#accountAvatar
						br
						label
						button#editAccount(type='submit') Save

					strong My Shows
					br
					#myshows

				#chatPage(style='display: none;')
					#chatbox
						#chatwrapper
							iframe#chat(src='//kiwiirc.com/client?settings=b1a34e3682f988d06a435e884c8d3fef')
						#reloadchat Reload
						#togglechat
							img(src='/img/icons/popout.svg', alt='Fullscreen')
					.page-wrapper
						button(onclick='window.open("https://kiwiirc.com/client?settings=b1a34e3682f988d06a435e884c8d3fef", "kiwiirc", "width=1000,height=500")') Open in new window
						br
						br
						div
							strong IRC connection details
						div Host: irc.canternet.org
						div Port: 6666-6669, 6697 for SSL
						div Channel: #parasprite
						div
							a(href='irc://irc.canternet.org:6667/#parasprite') irc://irc.canternet.org:6667/#parasprite

				#footer.page-wrapper
					.textcenter
						a.external(target='_blank', href='http://tun.in/sffEA')
							img(src='/img/icons/tunein.svg', alt='TuneIn')
						a.external(target='_blank', href='http://www.last.fm/user/'+config.lastfm.username)
							img(src='/img/icons/lastfm.svg', alt='last.fm')
						a.external(target='_blank', href='https://twitter.com/'+config.general.twitter)
							img(src='/img/icons/twitter.svg', alt='Twitter')
						a.external(target='_blank', href='https://github.com/daniel-j/parasprite-radio')
							img(src='/img/icons/github.svg', alt='Github')


		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga')

			ga('create', 'UA-5181445-5', 'auto')
			ga('send', 'pageview')

		script.
			var config = !{JSON.stringify(simpleconfig)}
		script(type='text/javascript', src='/build/script/main.js')

