doctype html
html
	head
		meta(charset='utf-8')
		meta(name='og:title', content='#{config.radio.title}')
		meta(name='og:image', content='#{config.general.baseurl}img/icons/parasprite-radio.png')
		meta(name='og:url', content='#{config.general.baseurl}')
		meta(name='og:description', content='Tune in to #{config.radio.title}!')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='theme-color', content='#2D2D2D')

		title #{config.radio.title}

		link(rel='icon', type='image/x-icon', href='/favicon.ico')
		//- link(rel='stylesheet' type='text/css', href='//releases.flowplayer.org/6.0.1/skin/minimalist.css')
		link(rel='stylesheet', type='text/css', href='/build/style/main.css')

		//- flowplayer depends on jQuery 1.7.2+
		//-script(src='//code.jquery.com/jquery-1.10.2.min.js')
		//- flowplayer javascript component
		//-script(src="//releases.flowplayer.org/6.0.1/flowplayer.min.js")
		script(src='//content.jwplatform.com/libraries/GZyKIYr6.js')

	body#body

		#top
			.container

				#player
					.leftside
						a#coverlink(href='/api/now/art/original', target='_blank')
							img#cover(src='/api/now/art/tiny', alt='Cover art')

					.mid
						#nowplayingwrap
							#nowtitle
							#nowartist

						#visualizer

					.rightside

						button#playstopbtn Play

						#popout
							a#popuplink(href='/popout', target='_blank')
								img(src='/img/icons/popout.svg', alt='Popout')
						#volume
							div
								input#radioVolume(type='range', min=0, max=1, step=0.01, value=0.8)
								select#streamSelect
									option(value='', selected) Automatic detection
									option(value='radio_mobile') iPhone AAC+ 64k
									option(value='radio_mobile_vorbis') Low Quality OGG Vorbis
									option(value='radio_normal') Low Quality MP3 128k
									option(value='radio') High Quality MP3 320k
									option(value='radio_opus') High Quality OPUS 128k
									option(value='gnr') Galaxy News Radio
									if env == 'development'
										option(value='radio_dev') Development stream
								= ' '
								a#streamLink(href='/stream', target='_blank')
									img(src='/img/icons/popout.svg', alt='Stream')
						.legend
							span#listenercount
							img.listenersicon(src='/img/icons/listeners.png', alt='listeners')

				a(href='')
					img#logo(src='/img/icons/parasprite-radio-logo-hex-256.png', alt='Logo', title='#{config.radio.title}')
				.left
					h1
						a(href='/') #{config.radio.title}
					#subtitle by
						= ' '
						a(href='https://twitter.com/daniel_hede', target='_blank') djazz


		#navigation.container

			nav#mainmenu
				a#menuHistory.current(data-page='pageHistory') Play History
				//- a#menuPlaylist(data-page='pagePlaylist') Playlist
				a#menuSchedule(data-page='pageSchedule', data-hash='schedule') Schedule
				a#menuLivestream(data-page='pageLivestream', data-hash='livestream') Livestream
				a#menuMap(data-page='pageMap', data-hash='map') Map

				div(class='right')
					a#menuAccount(data-page='pageAccount', data-hash='account') Account
					a#menuLogin(data-page='pageLogin') Login
					a#menuLogout(href='/logout') Logout
					a#menuAdmin(href='/admin/') Admin
		.clearing


		#content
			.container
				#pageHistory.page-wrapper

					div
						strong Recently played tracks
					table#playhistorytable.trackstable
						tbody#playhistory
				//- TODO: Remove inline CSS
				#pagePlaylist.page-wrapper(style='display: none;')
					div
						strong
							span The radio has
							span#playlistcount ?
							span  tracks (
							span#playhistoryhours ?
							span  hours of music)
					table#playlisttable.trackstable
						tbody#playlist

				#pageSchedule(style='display: none;')
					iframe#scheduleiframe

				#pageLivestream(style='display: none;')
					#liveplayer
						#jwplayer
						#viewercount
						#streamoffline
							span Livestream is offline

				#pageMap(style='display: none')
					#googlemap

				#pageLogin.page-wrapper(style='display: none;')
					strong Login
					br
					br
					a(href="/auth/poniverse") Auth with Poniverse
					br
					a(href="/auth/twitter") Auth with Twitter
				#pageAccount.page-wrapper(style='display: none;')
					strong Account
					br

					form#editAccountForm
						label(for='inputAccountUsername') Username:
						input#inputAccountUsername(type='text')
						br
						label(for='inputAccountDisplayName') Display name:
						input#inputAccountDisplayName(type='text')
						br
						label(for='inputAccountEmail') Email:
						input#inputAccountEmail(type='email')
						br
						label(for='inputAccountAvatarUrl') Avatar URL
						input#inputAccountAvatarUrl(type='url')
						br
						img#accountAvatar
						br
						label
						button#editAccount(type='submit') Save


				iframe#chat(src='https://kiwiirc.com/client?settings=b1a34e3682f988d06a435e884c8d3fef')

				.page-wrapper
					//- TODO: Remove inline CSS
					#badges-title Friends & tech:
					#badges
						a(target='_blank', href='http://www.bronydom.net/')
							img(src='/img/badges/bronydom.png', alt='Bronydom Network')
						a(target='_blank', href='http://canternet.org')
							img(src='/img/badges/canternet.png', alt='Canternet IRC network')
						a(target='_blank', href='http://ponyvillelive.com/')
							img(src='/img/badges/ponyvillelive.png', alt='Ponyville Live!')

						a(target='_blank', href='http://liquidsoap.fm/')
							img(src='/img/badges/liquidsoap.png', alt='Liquidsoap')
						a(target='_blank', href='https://www.citycloud.se/')
							img(src='/img/badges/citycloud.png', alt='City Cloud')
						a(target='_blank', href='http://icecast.org/')
							img(src='/img/badges/icecast.png', alt='Icecast')

						a(target='_blank', href='http://gulpjs.com/')
							img(src='/img/badges/gulp.png', alt='Gulp.js')
						a(target='_blank', href='http://nodejs.org')
							img(src='/img/badges/nodejs.png', alt='Node.js')
						a(target='_blank', href='https://webpack.github.io/')
							img(src='/img/badges/webpack.png', alt='Webpack')

					a(target='_blank', href='http://tun.in/sffEA') TuneIn
					= ' - '
					a(target='_blank', href='http://www.last.fm/user/djazzradio') last.fm page
					= ' - '
					a(target='_blank', href='http://www.last.fm/user/djazzradio/library') music library
					= ' - '
					a(target='_blank', href='http://www.last.fm/user/djazzradio/tracks') full play history
					= ' - '
					a(target='_blank', href='http://www.last.fm/user/djazzradio/library/recent') new music
					= ' - '
					a(target='_blank', href='img/parasprite-radio-badge.png') parasprite radio badge

					br
					br

					| Direct stream url (for VLC and other media players): #{''}
					a(target='_blank', href='#{config.general.baseurl}stream/') #{config.general.baseurl}stream/

					br

					//- div
						= 'Powered by '
						a(target='_blank', href='http://liquidsoap.fm') Liquidsoap
						= ', '
						a(target='_blank', href='http://nodejs.org') node.js
						= ', '
						a(target='_blank', href='http://www.icecast.org') Icecast
						= ', '
						a(target='_blank', href='http://www.musicpd.org') MPD
						= ' and '
						a(target='_blank', href='http://www.last.fm') last.fm
						br


					div Twitter:
						= ' '
						a(href="https://twitter.com/ParaspriteRadio", target="_blank") @ParaspriteRadio
					div Source code on github:
						= ' '
						a(href='https://github.com/daniel-j/parasprite-radio', target='_blank') daniel-j/parasprite-radio

					br
					br


		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga')

			ga('create', 'UA-5181445-5', 'auto')
			ga('send', 'pageview')

		script.
			var config = !{JSON.stringify(simpleconfig)}
		script(src='//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js')
		script(type='text/javascript', src='/build/script/main.js')

